<div class="content">
  <div class="cards-searchbar">
    <div class="searchbar">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find an island"%>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="cards">
      <% @islands.each do |island| %>
        <%= link_to island_path(island) do %>
        <div class="card-groupe">
          <div class="card-category"
            style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= cl_image_path island.photo.key%>')">
            <p><%= island.name %></p>
          </div>
          <div class="card-info">
            <p class="location"><%= island.address %></p>
            <p class="price"><%= island.price %> €</p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
