<%# <h1>Hello this is the index</h1> %>

<div class="card">
  <% @islands.each do |island| %>
    <%= link_to island_path(island) do %>
    <div class="card-groupe">
      <div class="card-category"
        style="background-image: url('<%= cl_image_path island.photo.key%>')">
        <p><%= island.name %></p>
      </div>
      <div class="card-info">
        <p><%= island.address %></p>
        <p><%= island.price %> €</p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<p><%= link_to "Add a new island", islands_new_path, class: "btn btn-primary" %></p>


<%# here comes the mapppp %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
