
<div class="container card-trip">

  <div class="island-card">

      <%= cl_image_tag @island.photo.key, width: 800, style: "border-radius: 10px 0px 0px 10px;" %>

    <div class="price-and-book">
      <div class="card-trip-pricing"><p id="title-price">Price:</p>
       <%= @island.price %>€/night</div>
        <hr style="margin: 25px;">
        <div class="container upper-part d-flex btn btn-flat">
          <%# <div class="calendar"> %>
            <%= render "form_reservation" %>
          <%# </div> %>
        </div>
    </div>
  </div>


  <div class="card-trip-infos">
    <div><h2 style="line-height:3.5em;"><strong><%= @island.name %></strong></h2>
      <p><%= @island.description %></p>
      <div>
        <hr>
        <p style="line-height:3.5em;"><strong>Characteristics :</strong></p>
        <p><ul style="list-style-type: '';">
          <li><i class="fa-regular fa-map"></i>   Location: <%= @island.address %></li>
          <li><i class="fa-regular fa-sun"></i>   Type: Private Island</li>
          <li><i class="fa-solid fa-ruler"></i>   Size: <%= @island.size %> Acres</li>
          <li><i class="fa-solid fa-umbrella-beach"></i>   Lifestyles: Islands With Beaches, Ocean Island, Turn Key, Income Potential</li>
          <li><i class="fa-solid fa-sack-dollar"></i>   Price: <%= @island.price %>€/night</div></li>
        </ul></p>
      </div>
    </div>
    <div>
      <hr>
      <div class="map showpage"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<%# <hr> %>

<%# Reviews %>


<%#
  </div>
<%#   <% if @island.user = current_user %>
<%#     <p><%= link_to "Edit", edit_island_path(@island), class: "btn btn-primary"%><%# </p> %>
  <%#   <p><%= link_to "Delete", island_path(@island), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} %><%# /p>  %>


 <%#  <%#   <% end %>
 <%#  </div>
</div> %>
