

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-umbrella-beach umbrella-logo"></i>
    <% end %>
      <h1 id="main-title">Paradise Island Finder</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-user"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://img.icons8.com/ios-filled/512/logout-rounded.png", width: 40, class: "avatar dropdown-toggle logout-logo", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              <%if user_signed_in? %>
              <%= link_to "Add a new island", new_island_path, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
        <% else %>

            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>

        <% end %>
      </ul>
    </div>
  </div>
</div>
